{%extends 'blueprint.html'%}
    <!--actual content goes here in content body  -->
  {%block content%}
{{post}}<h2 align='center'>{{msg}}</h2>
        <form class="" action="{%url 'loggedin'%}" method="post">
         {% csrf_token %}
          <table>
            <tr>
              <td>Username:</td>
              <td><input type="text" name="username"</td>

            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password"</td>
            </tr>
            <tr >
              <td id='submit_button'><input type="submit"  value="Login"></td>
              <td id='submit_button'><a href="{%url 'signup'%}">New User?</a></td>
            </tr>

          </table>

        </form>







    {%endblock%}
