{% extends 'blueprint.html'%}
    <!--actual content goes here in content body  -->
    {%block content%}
<div class="container">

<div class="row justify-content-center">
  <div class="col-md-5">
{% if error %}

<h2>{{error}}</h2>

{% endif %}

  <form action='{% url 'signup' %}' method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Fullname:</label>
      <input type="text" class="form-control" name='fullname'>
    </div>

    <div class="form-group">
      <label >Username:</label>
      <input type="text" class="form-control" name='username'>
    </div>

    <div class="form-group">
      <label >Password:</label>
      <input type="password" class="form-control" name='password'>
    </div>

    <input type="submit" value="Sign Up" class="btn btn-dark btn-block">
  </form>

   </div>
 </div>

</div>

    {% endblock%}
