
	<title>My Dream Shop</title>

<head>
	{% load static %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
  <body>
  	    <!--Main container start here-->
	    <div class="main-wrapper">
        <!--Header start here-->
	  	    <div class="header_wrapper">
           <div>
	   	    <img id="logo" src="images/logo.png">
            <img src="images/ad_banner.png" id="ad_banner">
            </div>
        <!--Navigation bar start here-->
            <div class="menubar">
            	  <ul id="menu">
            	  	 <button type="button" name="button"><li><a href="#">Home</li<a></li></button>
            	  	 <li><a href="#">All Products</li<a></li>
            	  	 <li><a href="#">My Account</li<a></li>
            	  	 <li><a href="#">Sign Up</li<a></li>
            	  	 <li><a href="#">Shopping Cart</li<a></li>
            	     <li><a href="#">Contact Us</li<a></li>
            	  </ul>
                <!--Search bar start here-->
            	    <div id="form">
            	    	<form method="get" action="results.php" enctype="multipart/form-data"></form>
            	    	<input type="text" name="user_query" placeholder="Search A Product">
            	    	<input type="submit" name="search" value="Search">
            	    </div>
                <!--Search bar ends here-->
            </div>
            <!--Navigation Bar ends here-->



            <!--Content Area starts here-->
            <div class="content_wrapper">
	  	           <!---Left sidebar area-->
	  	         <div id="sidebar">
                   <div class="sidebar_title">Categories</div>
                      <ul class="cats">
	  	         	        <?php getCats(); ?>
	  	         	      </ul>

	  	         	   <div class="sidebar_title">Brands</div>
                      <ul class="cats">
	  	         	        <?php getBrands(); ?>
                      </ul>
	  	            </div>
                  <!--Left Sidebar area ends here-->

                  <!--Cart and products area start here-->
                  <div class="content_area">

                     <div id="shopping_cart">
                        <span style="float: left;font-size: 18px; line-height: 40px;">Welcome guest
                          <b style="color:#3399ff"> Shopping Cart</b></span> <a href="cart.php">Go To Cart</a>
                     </div>

                     <div id="products_box">
                       <?php getPro();?>
                     </div>
                 </div>
                  <!-- Cart and products area ends here-->
          </div
          <!--Content Area ends here-->

          <!--Footer start start here-->

	  	    <div id="footer">

                <h2 style="text-align: center;padding-top: 30px;">&copy; 2018 Made by Ashutosh Verma</h2>

	  	    </div>
          <!--Footer ends here-->

	  </div>
	  <!--Main container end here-->

</body>
</html>
