<head>

  {%load static%}
   <link rel="stylesheet" href="{% static 'css/index1.css' %}">
</head>
<!--all tags container start here-->
<div class="container">

  <!--main and logo start here-->
  <div class="upper_side">
    <!--logo start here-->
    <div class="logo">
         Logo and name
    </div>
    <!--logo ends here-->

    <!--menu start here-->
    <div class="menu">
      menu

    </div>
    <!--menu ends here-->

  </div>

 <!--left side start here-->
 <div class="left_side">
   left side

 </div>
 <!--left side ends here-->

 <!--content start here-->
 <div class="content">
       <!--first widget start here-->
       <div class="first">
         first widget
       </div>
       <!--first widget ends here-->

       <!--second widget start here-->
       <div class="second">
              second
       </div>
       <!--second widget ends here-->

       <!--third widget start here-->
       <div class="third">

       </div>
       <!--third widget ends here-->

       <!--fourth widget starts here-->
       <div class="fourth">
         fourth

       </div>
 </div>
 <!--content ends here-->



</div>
