{%extends 'blueprint.html'%}

{%block content%}
<div class="">
  <button type="button" name="button"><a href="{%url 'index1'%}">Index1</a></button>
</div>

<form class="" action="{%url 'blog'%}" method='GET'>
  <p>Write Your Post Below:</p>
  <textarea name="post" rows="8" cols="60" placeholder="Write your post here..">
  </textarea>
  <br>Fullname: <br>
  <input id='form1' type="text" name="fullname" ><br>
  Email:<br>
  <input id='form1' type="email" name="email" ><br>
  <input id='form2' type="submit"  value="Post">

</form>

{%endblock%}
